#image {
    &__macbook {
        position: relative;
        padding-top: 1em;
        z-index: 2;
    }
    &__redPoligon {
        position: absolute;
        transform: translate(6em, -1em);
        z-index: 1;
    }
    &__blueEllipse {
        
    }
    &__iphone {
        position: absolute;
        transform: translate(-8em, 1em);
    }
    &__greenRectangle {
        max-width: -webkit-fill-available;
        transform: scaleX(1.12) translateY(5px);;
    }
    &__trumpet {
        position: absolute;
        transform: translate(-19em, 1em);
    }
}
