* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font__primary {
  font-family: "Open Sans", sans-serif;
}
.font__secondary {
  font-family: "Raleway", sans-serif;
}
.font--highlighted {
  color: #08a6e4;
}

.header {
  height: 4.5em;
  max-height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2901960784);
}
.header__title {
  line-height: 37px;
  padding: 1rem 0rem 0rem 1.5rem;
  font-weight: 300;
  font-size: 2rem;
  display: inline-block;
  width: 79%;
}
.header__menu {
  display: inline-block;
  vertical-align: super;
  width: 19%;
  background: none;
  border: none;
}

.main__openShop-container {
  margin: auto;
  margin-top: 6em;
  padding: 0em 2em 0em 2em;
  text-align: center;
  width: 100%;
}
.main__openShop-container__title {
  font-weight: 400;
  font-size: 2rem;
}
.main__openShop-container__text {
  padding: 1em 1em 1.5em 1em;
  font-size: 1rem;
  font-weight: 400;
}
.main__openShop-container__button {
  width: 100%;
  padding: 2em;
  max-height: 67px;
  color: white;
  background: none;
  border: none;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-radius: 2.5em;
  font-size: 1rem;
  font-weight: 700;
  vertical-align: middle;
  line-height: 0rem;
}

.main__image-container {
  min-height: 16.7em;
  max-height: 37.1em;
  margin-top: 3em;
  background-image: url("../images/Background 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}

.main__icons {
  text-align: center;
}
.main__icons__title {
  text-align: center;
  margin: auto;
  padding: 0% 10% 10% 10%;
}
.main__icons__title__text {
  font-weight: 300;
  font-size: 2rem;
}
.main__icons__card {
  margin: auto;
  width: min-content;
  padding: 1em;
}
.main__icons__card__image {
  padding: 0;
}
.main__icons__card__image--first {
  transform: translate(1.9em);
}
.main__icons__card__image--second {
  transform: translate(-0.6em, -0.8em);
}
.main__icons__card__title {
  padding: 1em;
  letter-spacing: 5.96px;
  font-weight: 800;
  font-size: 1.25rem;
  width: 80%;
}
.main__icons__card__text {
  font-weight: 400;
  font-size: 1rem;
  color: #A5A5A5;
}

.main__cards-container {
  background-color: #F7F7F7;
  padding: 10%;
  text-align: center;
}
.main__cards-container__card {
  margin: auto;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  padding: 1em 1em 0em 1em;
}
.main__cards-container__card__title {
  text-align: start;
  padding: 1em 0em 1em 0em;
  width: 85%;
  font-weight: 400;
  font-size: 1.875rem;
}
.main__cards-container__card__text {
  text-align: start;
  padding: 1em 0em 1em 0em;
  font-weight: 400;
  font-size: 0.875rem;
}

.main__prices {
  text-align: center;
}
.main__prices__title {
  font-weight: 400;
  font-size: 2.1rem;
  margin-top: 2em;
  margin-bottom: 0.7em;
}
.main__prices__card {
  width: 80%;
  margin: auto;
  margin-bottom: 4em;
  border-radius: 1em;
  border: 1px solid black;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.main__prices__card:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
.main__prices__card__pricing {
  display: inline-block;
  position: relative;
  top: -1.5em;
  width: 40%;
}
.main__prices__card__pricing__title {
  font-weight: 700;
  font-size: 1.2rem;
}
.main__prices__card__pricing__price {
  font-weight: 300;
  font-size: 3rem;
}
.main__prices__card__pricing__sub-title {
  font-weight: 700;
  font-size: 0.8rem;
}
.main__prices__card__services {
  display: inline-block;
  width: 49%;
  text-align: start;
  text-wrap: nowrap;
}
.main__prices__card__services div {
  padding: 0.5em;
}
.main__prices__card__services__img {
  display: inline;
}
.main__prices__card__services__text {
  display: inline;
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.5em;
}
.main__prices__card__button {
  color: white;
  padding: 1em 4em 1em 4em;
  position: relative;
  bottom: -20px;
  border: none;
  border-radius: 1.5em;
}
.main__prices__card--red {
  border-color: #eb476e;
}
.main__prices__card--red .main__prices__card__pricing__price {
  color: #eb476e;
}
.main__prices__card--red .main__prices__card__button {
  background-color: #eb476e;
}
.main__prices__card--red:hover {
  box-shadow: 5px 10px 27px rgba(235, 71, 110, 0.2901960784);
}
.main__prices__card--red:hover .main__prices__card__button {
  box-shadow: 5px 10px 27px rgba(235, 71, 110, 0.2901960784);
}
.main__prices__card--blue {
  border-color: #07ace6;
}
.main__prices__card--blue .main__prices__card__pricing__price {
  color: #07ace6;
}
.main__prices__card--blue .main__prices__card__button {
  background-color: #07ace6;
}
.main__prices__card--blue:hover {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.2901960784);
}
.main__prices__card--blue:hover .main__prices__card__button {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.2901960784);
}
.main__prices__card--green {
  border-color: #55dfb4;
}
.main__prices__card--green .main__prices__card__pricing__price {
  color: #55dfb4;
}
.main__prices__card--green .main__prices__card__button {
  background-color: #55dfb4;
}
.main__prices__card--green:hover {
  box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.2901960784);
}
.main__prices__card--green:hover .main__prices__card__button {
  box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.2901960784);
}

.main__formulary {
  width: 90%;
  margin: auto;
}
.main__formulary__info__title {
  font-weight: 400;
  font-size: 3rem;
}
#image__macbook {
  position: relative;
  padding-top: 1em;
  z-index: 2;
}
#image__redPoligon {
  position: absolute;
  transform: translate(6em, -1em);
  z-index: 1;
}
#image__iphone {
  position: absolute;
  transform: translate(-8em, 1em);
}
#image__greenRectangle {
  max-width: -webkit-fill-available;
  transform: scaleX(1.12) translateY(5px);
}
#image__trumpet {
  position: absolute;
  transform: translate(-19em, 1em);
}